<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
<a href="/"> 돌아가기</a><br><br>

<form method="post" action="/api/v1/users">
    <label>username <input name="username" ></label><br>
    <label>password <input name="password" type="password" ></label><br>
    <label>email <input name="email" ></label><br>
    <label>nickname <input name="nickname" ></label><br>
    <label>birthday <input name="birthday" type="date"></label><br>
    <button type="submit">가입</button>
</form>
</body>
</html>
