<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Validation 테스트</title>
</head>
<body>
<h1>Validation 테스트</h1>
<a href="/"> 돌아가기</a><br><br>

<form method="post" action="/api/valid/basic" >
    <label>name <input name="name"></label><br>
    <label>email <input name="email"></label><br>
    <label>password <input name="password" type="password"></label><br>
    <label>age <input name="age"></label><br>
    <label>checkIn <input name="checkIn" type="date"></label><br>
    <label>checkOut <input name="checkOut" type="date"></label><br>
    <label>mobile <input name="mobile"></label><br>
    <label>username <input name="username"></label><br>
    <button type="submit">검증 요청</button>
</form>
</body>
</html>
