<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <title>Home</title>
</head>
<body>
<h1>회원 목록</h1>
<button id="button1">조회</button>

<table border="1">
    <thead>
    <tr>
        <th>아이디</th>
        <th>이름</th>
        <th>닉네임</th>
        <th>이메일</th>
        <th>생일</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/javascript">
    $(function () {
        $('#button1').click(function () {
            $.ajax({
                url: '/userAllList',
                type: 'get',
                success: function (result) {
                    let html = '';
                    for (let i = 0; i < result.length; i++) {
                        html += '<tr>';
                        html += '<td>' + result[i]['id'] + '</td>';
                        html += '<td>' + result[i]['username'] + '</td>';
                        html += '<td>' + result[i]['nickname'] + '</td>';
                        html += '<td>' + result[i]['email'] + '</td>';
                        html += '<td>' + result[i]['birthday'] + '</td>';
                        html += '</tr>';
                    }
                    $('table > tbody').append(html);
                },
                error: function () {
                    console.log("AJAX 통신 실패!");
                }
            });
        });
    });
</script>
</body>
</html>
