<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
<h1>Register Page</h1>

<form name="registerForm" th:action="@{/register}" method="post">
    <fieldset>
        <legend>회원가입</legend>
        아이디: <input type="text" id="username" name="username"/> <span id="checkId">중복 확인</span><br>
        비밀번호: <input type="password" name="password"/><br>
        이름(닉네임): <input type="text" name="nickname"/><br>
        이메일: <input type="email" name="email"/><br>
        생일: <input type="date" name="birthday"/><br>
        <input type="submit" value="회원가입">
    </fieldset>
</form>

</body>
</html>

<script type="text/javascript">
    // id의 중복을 확인하는 코드, keyup(키보드 입력)이 될때마다 id를 체크해서 checkId로 결과 업데이트 됨
    $(function () {
        $('#username').keyup(function () {
            let idValue = $(this).val();
            $('#checkId').html('입력중..');
            $.ajax({
                url: '/checkId',
                data: { username: idValue },
                type: 'get',
                success: function (result) {
                    if (result === '0') {
                        $('#checkId').html('사용 가능한 아이디입니다.');
                    } else {
                        $('#checkId').html('중복된 아이디입니다. 다시 입력하세요.');
                    }
                },
                error: function () {
                    console.log('ajax 통신 실패');
                }
            });
        });
    });
</script>




