<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>회원가입 데모</title>
</head>
<body>
<h1>회원가입 데모</h1>
<ol>
    <li><a href="/user/signup">회원가입</a></li>
    <li><a href="/user/signup2">회원가입 2번째</a></li>
    <li><a href="/user/update">회원수정</a></li>
    <li><a href="/user/delete">탈퇴</a></li>
    <li><a href="/user/login">로그인(+ log test)</a></li>
    <li><a href="/user/login2">로그인 2번째</a></li>
    <li><a href="/user/find">조회 (단건/전체/username)</a></li>
    <hr>
    <li><a href="/valid/valid-basic">Validation 기본 테스트</a></li>
    <li><a href="/valid/valid-custom">Validation 커스텀 테스트</a></li>
</ol>
<hr>
</body>
</html>
